#bannerimage {
  width: 100%;
  background-image: url("banner.jpg");
  height: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #555;
  color: white;
}
body {
  background-color: skyblue;
}
p {
  font-family: Futura;
  font-size: 20px;
}
table, th, td{
  border: 1px solid black;
}
#fallacy {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#fallacy td, #fallacy th {
  border: 1px solid #ddd;
  padding: 8px;
}
#fallacy tr:nth-child(even){background-color: #f2f2f2;}
#fallacy tr:hover{background-color: #ddd;}
#fallacy th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: purple;
  color: white;
}
