#bannerimage {
  width: 100%;
  background-image: url("images/banner.jpg");
  height: 100px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
ul.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}
li a{
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover{
  background-color: #555;
  color: white;
}
body {
  background-color: skyblue;
}
p {
  font-family: Futura;
  font-size: 20px;
}
table, th, td{
  border: 1px solid black;
}
#fallacy {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-collapse: collapse;
  width: 100%;
}
